@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Josefin+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=REM&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #181818;
    display: grid;
    place-items: center;
}

.password {
    width: 300px;
    height: 50px;
    padding: 2px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    scale: 2;

}

.password::before {
    content: "";
    background-image: conic-gradient(rgb(243, 12, 12) 360deg, transparent 120deg);
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 3s ease-in-out infinite alternate;
}

.password::after {
    content: "";
    width: 285px;
    height: 45px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 30px;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(234, 89, 89);
    font-size: larger;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pwd{
    position: absolute;
    width: 290px;
    height: 42px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.pwd input {
    border: none;
    width: 80%;
    /* Changed this line to adjust input width */
    height: 100%;
    border-radius: 30px;
    outline: none;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
    /* Changed background to transparent */
    color: #000000;
    /* Changed text color to contrast with the background */
}

.pwd button {
    height: 100%;
    width: 20%;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    transform: scale(1.2);
    /* Adjusted the scale size */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.pwd button i {
    z-index: 9;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(106, 98, 98, 0.2);
}

.pwd button i:hover {
    z-index: 9;
    background-color: rgba(106, 98, 98, 0.4);
}