@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Josefin+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=REM&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.container {
    background: url(../Asset/wallpaperflare.com_wallpaper\ \(2\).jpg) rgba(18, 18, 18, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}
.container p{
    margin: 20px;
    color: white;
    
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: rgba(255, 255, 255,0.5);
    padding: 10px;
    top: 0%;
    backdrop-filter: blur(10);
}

.header .left{
    width: 90%;
    display: flex;
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: space-evenly;
    
}
.header .left button{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgba(18, 18, 18, 0.5);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.5s;
}

.header .left button:hover{
    background-color: rgba(77, 48, 48, 0.5);
    color: white;
    border: none;
}

.header img{
    width: 100px;
    margin-left: 20px;
    
}

.header .left a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 16px;
    transition: all 0.5s;
}
.header .left a:hover{
    background-color: rgba(18, 18, 18,0.5);
    color: rgb(255, 255, 255);
}

.header .span{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.header .span i{
    margin-right: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    color: white;
}


.header .span i:hover{
    background-color: rgba(18, 18, 18, 0.5);
    color: rgb(255, 255, 255);
}



.wrapper{
    width: 400px;
    height: 550px;
    background-color: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(20px);
    position: absolute;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: white 1px solid;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    
}

.hidden{
display: none;
}

.wrapper .form-box{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;


}

.wrapper .form-box .close{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.wrapper .form-box .close:hover{
    color: white;
}

.wrapper .form-box h2{
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.wrapper .form-box .input-box{
    width: 100%;
    position: relative;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin-top: 0px;
    margin-bottom: 20px;
    overflow: hidden;
}

.wrapper .form-box .input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    
}

.wrapper .form-box .input-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 0px 30px 0px 7px;
}

.wrapper .form-box .input-box span{
    position: absolute;
    right: 7px;
    top: 25%;
}


.wrapper .form-box .remember-forget{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10xp;
    font-size: 0.8rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.wrapper .form-box .remember-forget a{ 
    text-decoration: none;
    color: white;
}

.wrapper .form-box .remember-forget label{ 
    cursor: pointer;
    user-select: none;
}
.wrapper .form-box .remember-forget a:hover{ 
    text-decoration: underline;
    cursor: pointer;
}

.wrapper .form-box .submit{ 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper .form-box .submit button{ 
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

.wrapper .form-box .submit button:hover{ 
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper .form-box .register{ 
    margin-top: 20px;
    width: 100%;
}
.wrapper .form-box .register a{ 
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
}
