@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Josefin+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=REM&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#main{
    width: 100%;
    height:100%;
    background-color: rgb(202, 238, 202);
    display: flex;
    justify-content: center;
    align-items: center;

}
#panel{
    width: 90%;
    height:90%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
}


#pTop{
    width: 100%;
    height: 80px;
    background:#476b9e ;
    display: flex;
    color: #fff;
    padding: 0px 10%;
    align-items: center;
    justify-content: space-between;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.box{
    padding: 10px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-family: 700;
    font-size: 20px;
    color: black;
}
.box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.box button{
    border: none;
    outline: none;
    background-color: #476b9e;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s;
}
.box button:hover{
    background-color: rgb(13, 222, 73);
    color: #000000;
}


#pBtm{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y:auto ;
    overflow-x: hidden;
}

.item{
    height: 100px;
    width: 100px;
    border-radius: 10%;
    background-color: rgb(232, 195, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin: 20px;
    cursor: pointer;
    font-weight: 800;
}
.item:hover{
    border: #476b9e 2px solid;
}

.present{
    background-color: rgb(27, 238, 31);
}
.absent{
    background-color: rgb(238, 83, 27);
}
.notMarked{
    background-color: rgb(149, 148, 148);
}